@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Molengo", sans-serif;
  color: rgb(0, 0, 0);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
